<form method='post' action='/team'>
  <h1>Create a Team and Heroes!</h1>

  <label for='team name'>Team Name: </label>
  <input type='text' id='team name' name='team[name]'><br>

  <label for='team motto'>Team Motto: </label>
  <input type='text' id='team motto' name='team[motto]'><br>

  <h2>Hero 1</h2><br><br>

  <label for='hero name'>Hero's name: </label>
  <input type='text' id='hero name' name='member1_name'><br>

  <label for='hero power'>Hero's Power: </label>
  <input type='text' id='hero power' name='member1_power'><br>

  <label for='hero bio'>Hero's Biography: </label>
  <input type='text' id='hero bio' name='member1_bio'><br><br>

  <h2>Hero 2</h2><br><br>

  <label for='hero name'>Hero's name: </label>
  <input type='text' id='hero name' name='member2_name'><br>

  <label for='hero power'>Hero's Power: </label>
  <input type='text' id='hero power' name='member2_power'><br>

  <label for='hero bio'>Hero's Biography: </label>
  <input type='text' id='hero bio' name='member2_bio'><br><br>

  <h2>Hero 3</h2><br><br>

  <label for='hero name'>Hero's name: </label>
  <input type='text' id='hero name' name='member3_name'><br>

  <label for='hero power'>Hero's Power: </label>
  <input type='text' id='hero power' name='member3_power'><br>

  <label for='hero bio'>Hero's Biography: </label>
  <input type='text' id='hero bio' name='member3_bio'><br><br>

  <input type='submit' value='Submit' id='submit'>

</form>